<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dailydone.mobile.android">

    <application
        android:name=".DailyDoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="org.dailydone.mobile.android.InitialHealthCheckActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.dailydone.mobile.android.LoginActivity">
        </activity>

        <activity
            android:name="org.dailydone.mobile.android.TodoOverviewActivity">
        </activity>

        <activity
            android:name="org.dailydone.mobile.android.TodoDetailViewActivity">
        </activity>
    </application>

</manifest>